<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/style.css">
    <title>{{ buffer.title }}</title>
  </head>
  <body class="bg-gray-900">
    {% render 'components/header.liquid' %}
    <section class="my-4">
      <h2 class="mx-2 p-2 text-white text-xl font-bold bg-gray-950 text-center">{{ buffer.title }}</h2>
      <section class="flex flex-col gap-2 items-center mx-4 my-2">
        <img
          src="{{buffer.thumb}}"
          class="object-cover"
          alt="">
        <div class="flex flex-wrap justify-center gap-2 w-1/4">
          {% for genre in buffer.genre %}
            <a class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-1 rounded-xl" href="#">{{ genre }}</a>
          {% endfor %}
        </div>
        <p class="text-white w-1/2 text-center">{{ buffer.producer }}</p>
        <p class="text-white w-1/2 text-center">{{ buffer.score }}/10</p>
        <p class="text-white w-1/2 text-center">{{ buffer.synopsis }}</p>
      </section>
      <h2 class="mx-2 p-2 text-white text-xl font-bold bg-gray-950 text-center">Episode</h2>
      <section class="my-2">
        <div class="flex flex-col items-center gap-2">
          {% for episode in buffer.episode_list %}
            <a href="{{episode.link}}" class="w-1/2 text-center bg-gray-700 hover:bg-gray-600 text-white px-4 py-1 rounded-xl">{{ episode.title }}</a>
          {% endfor %}
        </div>
      </section>
    </section>
  </body>
</html>